# Build directory
build/
.env
notes.txt

# Object files
*.o
*.obj

# Executables
*.exe
*.out
a.out

# Libraries
*.so
*.a
*.lib
*.dll

# Editor / IDE junk
*.swp
*.swo
*.bak
*~

# Logs and temp files
*.log
*.tmp

# OS‑specific
.DS_Store
Thumbs.db
Desktop.ini
